<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]] </title>
    <link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2> [[${pageTitle}]]</h2></div>

    <form action="factureform.html" th:action="@{/factures/save}" method="post" th:object="${facture}" style="max-width: 500px; margin: 0 ">
        <input type="hidden" th:field="*{code_facture}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Creation Date </label>
                <div class="col-sm-8">
                    <input type="datetime-local" th:field="*{creation_DateTime}" class="form_control" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Due Payment Date </label>
                <div class="col-sm-8">
                    <input type="date" th:field="*{payment_Date}" class="form_control" required >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Quantity </label>
                <div class="col-sm-8">
                    <input type="int" th:field="*{qte_art}" class="form_control" required >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Total Amount </label>
                <div class="col-sm-8">
                    <input type="int" th:field="*{total_price}" class="form_control" required>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn:info"> Save </button>
                <button type="button" class="btn btn:danger" onclick="cancelForm()"> Cancel </button>

            </div>

        </div>
    </form>

</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="${/factures}";

    }
</script>
</body>
</html>