<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Wedtect </title>
    <link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>-->
</head>
<body>
<div class="container-fluid text-center">
<h1> Welcome to the website!! </h1>
<div>
    <div><a class="h2" href="/users"> Manage Users</a></div>
    <div><a class="h2" href="/products"> Manage Products</a></div>
    <div><a class="h2" href="/partners"> Manage Partners</a></div>
    <div><a class="h2" href="/factures"> Manage Bills</a></div>
    <div><a class="h2" href="/clients"> Manage Clients</a></div>
    <div><a class="h2" href="/societe"> Manage Company Data</a></div>
    <div><a class="h2" href="/"> login</a></div>
</div>

</div>
</body>
</html>