<app-navbar></app-navbar>
<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-body text-center">

            <img src="assets/img/logo/logo1.png" alt="" style="width:60%;" class="mb-3 mt-2">

            <h2 class="fw-bold mb-3 text-uppercase blue-color">S'inscrire</h2>

            <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Nom et prénom" required>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Numéro de téléphone" required>
            </div>

            <div class="mb-3">
                <input type="email" class="form-control"  placeholder="Email" required>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Mot de passe" required>
            </div>


            <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Confirmer votre mot de passe" required>
            </div>

            <button type="button" class="btn yellow-color mb-3" type="submit"><i class="fa-solid fa-check"></i>&nbsp;S'inscrire</button>

            <div class="mb-3 inline">

                <p class="small">Vous avez déjà un compte?<a [routerLink]="['/login']" style="text-decoration: none;" class="">Se connecter</a></p>

                <div class="mb-3">

                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>